BMI CALCULATOR

In [128]:
# BMI calculator
name1 = "Faela"
height_m1 = 2
weight_kg1 = 30

name2 = "Esther"
height_m2 = 1.7
weight_kg2 = 60

name3 = "Kevinr"
height_m3 = 1.8
weight_kg3 = 55

In [129]:
def bmi_calculator(name, height_m, weight_kg):
    bmi = weight_kg / (height_m ** 2)
    print("bmi: ")
    print(bmi)
    if bmi < 25:
        return name + " is not overweight "
    else:
        return name + " is overweight"

In [130]:
person1= bmi_calculator(name1,height_m1,weight_kg1)
person2= bmi_calculator(name2,height_m2,weight_kg2)
person3= bmi_calculator(name3,height_m3,weight_kg3)

bmi:
7.5
bmi:
20.761245674740486
bmi:
16.975308641975307

In [131]:
print(person1)
print(person2)
print(person3)

Faela is not overweight
Esther is not overweight
Kevinr is not overweight

FINDING THE SQUARE AND CUBE OF A NUMBER

In [72]:
def square(num):
    nbr = num*num
    return nbr

square(4)

16

In [73]:
def cube(num):
    nbr = num*num*num
    return nbr

cube(4)

64

USING NUMPY

In [76]:
import numpy as np
def cube(num):
    nbr = np.array(num)
    cube_nbr = np.power(nbr, 3)
    return cube_nbr

result = cube(4)
print(result)

64

PYTHON LIBRARY FUNCTION

In [78]:
import math
sqrt= math.sqrt(9)
sqrt

3.0

In [79]:
power = math.pow(2,4)
power

16.0

USER DEFINED FUNCTIONS

In [134]:
#Here, message has the default value of Hello. When greet() is called with only one argument, message uses its default value.
def greet(name, message="Hello"):
    print(message, name)

greet("Faela?", "How are you")

How are you Faela?

In [83]:
greet("Josh")

Hello Josh

*args* and *kwargs*

In [84]:
#args allows a function to take any number of positional arguments
def sum_nbrs(*numbers):
    return sum(numbers)

sum_nbrs(1,5,4)

10

In [89]:
def product_nbrs(*numbers):
    result = 1  
    for num in numbers:
        result *= num  
    return result

result = product_nbrs(1, 5, 4)
print(result)

20

In [85]:
#**kwargs allows the function to accept any number of keyword arguments.
def greet(**words):
    for key, value in words.items():
        print(f"{key}: {value}")

greet(name="Sophia", greeting="Hy")

name: Sophia
greeting: Hy

In [86]:
def my_function(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

my_function(name='Alice', age=30, city='New York')

name: Alice
age: 30
city: New York

In [90]:
def factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))


num = 3
print("The factorial of", num, "is", factorial(num))

The factorial of 3 is 6

In [135]:
#Global keyword
nbr = 5

def add():

    global nbr
 
    nbr = nbr + 2 

    print(nbr)

add()

7

In [136]:
def outer_function():
    num = 10

    def inner_function():
        global num
        num = 20
    
    print("Before calling inner_function(): ", num)
    inner_function()
    print("After calling inner_function(): ", num)

outer_function()
print("Outside both function: ", num)

Before calling inner_function():  10
After calling inner_function():  10
Outside both function:  20

In [137]:
a, b, c =  'Hello', 9, 12

print (a)  
print (b)  
print (c)

Hello
9
12

In [91]:
# Python program to find the sum of natural using recursive function

def recur_sum(n):
   if n <= 1:
       return n
   else:
       return n + recur_sum(n-1)

# change this value for a different result
num = 16

if num < 0:
   print("Enter a positive number")
else:
   print("The sum is",recur_sum(num))

The sum is 136

If n is greater than 1, this part of the function gets executed. It recursively calls the recur_sum function with the argument n-1 and adds n to the result of the recursive call. This process continues until the base case is reached.
Example Execution (for num = 16):
The initial call is recur_sum(16).
Since n is greater than 1, it goes to the else part and calculates 16 + recur_sum(15).
recur_sum(15) in turn calculates 15 + recur_sum(14).
This continues until recur_sum(1) is called, which returns 1 (base case).
Now, the previous function calls are resolved: recur_sum(2) returns 2 + 1 = 3, recur_sum(3) returns 3 + 3 = 6, and so on.
Ultimately, recur_sum(16) returns 16 + 15 + 14 + ... + 3 + 2 + 1, which is the sum of natural numbers up to 16.

In [94]:
# Python program to find the sum of natural using recursive function

def aw(n):
   if n <= 1:
       return n
   else:
       return n + aw(n-1)

# change this value for a different result
num = 16

if num < 0:
   print("Enter a positive number")
else:
   print("The sum is",aw(num))

The sum is 136

IF ELSE STATEMENTS

In [95]:
def number(nbr):
    if nbr < 0:
        print("negative number")
    else:
        print("positive number")
number(90)

positive number

In [96]:
number(-90)

negative number

FOR AND WHILE LOOPS

In [98]:
names = ['Esther', 'Honore', 'Josh']
for name in names:
    print(name)

Esther
Honore
Josh

In [99]:
language = 'Python'
for l in language:
    print(l)

P
y
t
h
o
n

In [101]:
values = range(0,5)
for value in values:
    print(value)

0
1
2
3
4

In [104]:
#Using _ indicates that the loop is there for repetition and not for accessing the elements.
values = range(0,5)
for _ in values:
    print(_)

0
1
2
3
4

In [113]:
nbr = 0

while nbr <= 6:
    print(nbr)
    nbr = nbr + 1

0
1
2
3
4
5
6

In [2]:
nbr = int(input("Enter a number: "))
total = 0
while nbr!=0:
    total += nbr
    nbr = int(input('Enter a number: '))
print(f"The total is: {total}")

Enter a number:  7
Enter a number:  4
Enter a number:  4
Enter a number:  4
Enter a number:  0

The total is: 19

In [5]:
while True:
    name = input("Enter your name: ")
    if name == 'stop':
        print("The loop is ended")
        break

    print(f"Hi {name}")

Enter your name:  Rebecca

Hi Rebecca

Enter your name:  Sylvie

Hi Sylvie

Enter your name:  Esther

Hi Esther

Enter your name:  Kevin

Hi Kevin

Enter your name:  stop

The loop is ended

BREAK AND CONTINUE STATEMENTS

In [1]:
values = range(0,10)
for value in values:
    if value ==8:
        break
    print(value)

0
1
2
3
4
5
6
7

In [2]:
values = range(0,10)
for value in values:
    if value ==8:
        continue
    print(value)

0
1
2
3
4
5
6
7
9

In [3]:
n = 10

# use pass inside if statement
if n > 10:
    pass

print('Hello')

Hello

In [4]:
for i in range(5):
    if i == 3:
        pass  # This does nothing when i is 3
    else:
        print(i)

0
1
2
4

DATATYPES

In [10]:
#We can use the type() function to know which class a variable or a value belongs to
nbr1= 5.6
print(nbr1, "is of type", type(nbr1))
nbr2= 19
print(nbr1, "is of type", type(nbr2))
nbr3= 5+3j
print(nbr1, "is of type", type(nbr3))

5.6 is of type <class 'float'>
5.6 is of type <class 'int'>
5.6 is of type <class 'complex'>

TYPE CONVERSION

In [12]:
nbr1= int(5.6)
print(nbr1)

5

RANDOM MODULE

In [15]:
import random
print(random.randrange(0,10))

2

In [18]:
list =['w','e','r','t','y']
random.shuffle(list)
print(list)

['y', 't', 'r', 'w', 'e']

In [19]:
print(random.random())

0.8519146109724876

In [20]:
import math

print(math.pi)

print(math.cos(math.pi))

print(math.exp(5))

print(math.log10(2))

print(math.sinh(90))

print(math.factorial(10))

3.141592653589793
-1.0
148.4131591025766
0.3010299956639812
6.102016471589204e+38
3628800

PYTHON LIST

In [21]:
names = ['Esther','Faela','Honore','Josh']
print(names)

['Esther', 'Faela', 'Honore', 'Josh']

In [24]:
print(names[-1])
print(names[0])
print(names[2])

Josh
Esther
Honore

In [27]:
#Adding items to the list
names.append('Kevin')
print(names)

['Esther', 'Faela', 'Honore', 'Josh', 'Kevin']

In [28]:
#use insert to add an item to the list at a certain position
names.insert(2,'Sylvie')
print(names)

['Esther', 'Faela', 'Sylvie', 'Honore', 'Josh', 'Kevin']

In [32]:
nbr = [1,3,5,7]
even_nbrs=[2,4]
nbr

[1, 3, 5, 7]

In [33]:
nbr.extend(even_nbrs)
nbr

[1, 3, 5, 7, 2, 4]

In [34]:
#changing list items
names[2] = 'Bryan'
print(names)

['Esther', 'Faela', 'Bryan', 'Honore', 'Josh', 'Kevin']

In [35]:
#Removing an item from the list
names.remove('Honore')
print(names)

['Esther', 'Faela', 'Bryan', 'Josh', 'Kevin']

In [38]:
#length of a list
len(names)

5

In [39]:
for name in names:
    print(name)

Esther
Faela
Bryan
Josh
Kevin

In [42]:
#check the index of a given item
names.index('Josh')

3

In [43]:
names.append('Josh')
print(names)

['Esther', 'Faela', 'Bryan', 'Josh', 'Kevin', 'Josh']

In [45]:
#how many times an item appears in the list
names.count('Josh')

2

In [46]:
#sorts the list in ascending order
names.sort()
names

['Bryan', 'Esther', 'Faela', 'Josh', 'Josh', 'Kevin']

In [47]:
#Reverses the list
names.reverse()
names

['Kevin', 'Josh', 'Josh', 'Faela', 'Esther', 'Bryan']

In [49]:
names.pop(-1)
names

['Kevin', 'Josh', 'Josh', 'Faela', 'Esther']

In [53]:
#check for item existence
'Faela' in names

True

LIST COMPREHENSION

In [50]:
sqr = [nbr**2 for nbr in range(0,10)]
sqr

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

TUPLES

In [55]:
#It is in paranthesis
nbrs =(2,1,4,7,8,9)
nbrs

(2, 1, 4, 7, 8, 9)

In [56]:
#tuple() constructor to create tuples
nbrs = tuple((2,4,6,7))
nbrs

(2, 4, 6, 7)

In [58]:
#tuple of different datatypes
nbrs = (3,5,7,9)
names = ('Kevin', 'Josh', 'Faela')
mixed = ('Kevin', 2, 5 ,'Josh', 'Faela')
print(nbrs)
print(names)
print(mixed)

(3, 5, 7, 9)
('Kevin', 'Josh', 'Faela')
('Kevin', 2, 5, 'Josh', 'Faela')

In [69]:
#accessing items
names = ('Kevin', 'Josh', 'Faela')
names[0]

'Kevin'

In [70]:
#tuples can not be modified
names[1] = 'Bryan'
names

TypeError: 'tuple' object does not support item assignment

In [71]:
#length of a tuple
len(names)

3

In [72]:
#items in a tuple
for name in names:
    print(name)

Kevin
Josh
Faela

In [67]:
#single item tuple creation with no comma is a simple variable
greet= ('Good morning')
greet

'Good morning'

In [68]:
#single item tuple add a comma afterwards
greet= ('Good morning',)
greet

('Good morning',)

SETS

In [77]:
#Adding items to a set
set = {2,4,5,6,9}
set.add(7)
set

{2, 4, 5, 6, 7, 9}

In [86]:
#updating python set
new_set = [1,3,10]
set.update(new_set)
set

{1, 2, 3, 4, 6, 7, 9, 10}

In [91]:
#use discard to remove element from a set
set.discard(5)
print(max(set))
print(min(set))
print(sum(set))
print(sorted(set))
print(enumerate(set))

10
1
42
[1, 2, 3, 4, 6, 7, 9, 10]
<enumerate object at 0x0000024AD56701D0>

In [81]:
names = {'Kevin', 'Josh', 'Faela'}
names.discard('Josh')
names

{'Faela', 'Kevin'}

In [92]:
#union of a set
A = {2,3,4,5}
B={3,5,7,9}
print(A|B)
print(A.union(B))

{2, 3, 4, 5, 7, 9}
{2, 3, 4, 5, 7, 9}

In [95]:
#intersection
print(A&B)
print(A.intersection(B))

{3, 5}
{3, 5}

In [97]:
#difference between sets
print(A-B)
print(A.difference(B))
print(B-A)
print(B.difference(A))

{2, 4}
{2, 4}
{9, 7}
{9, 7}

In [98]:
#symmetric_difference()
print( A ^ B)
print(A.symmetric_difference(B))

{2, 4, 7, 9}
{2, 4, 7, 9}

In [99]:
#check if two sets are equal
if A == B:
    print('Set A and Set B are equal')
else:
    print('Set A and Set B are not equal')

Set A and Set B are not equal

In [101]:
print(A.intersection_update(B))

None

DICTIONARIES

In [115]:
song_singer = {
    'Jireh': ['Maverick city','Elevation worship'],
    'Oceans': 'Hillsong',
    'Excess love':'Mercy'

}
print(song_singer)

{'Jireh': ['Maverick city', 'Elevation worship'], 'Oceans': 'Hillsong', 'Excess love': 'Mercy'}

In [116]:
song_singer['Jireh']

['Maverick city', 'Elevation worship']

In [117]:
song_singer['Holy Forever'] = 'Cece Williams'
song_singer

{'Jireh': ['Maverick city', 'Elevation worship'],
 'Oceans': 'Hillsong',
 'Excess love': 'Mercy',
 'Holy Forever': 'Cece Williams'}

In [118]:
del song_singer['Holy Forever']
print(song_singer)

{'Jireh': ['Maverick city', 'Elevation worship'], 'Oceans': 'Hillsong', 'Excess love': 'Mercy'}

In [120]:
song_singer.clear()
song_singer

{}

In [121]:
song_singer = {
    'Jireh': ['Maverick city','Elevation worship'],
    'Oceans': 'Hillsong',
    'Excess love':'Mercy'
}
print(song_singer)

{'Jireh': ['Maverick city', 'Elevation worship'], 'Oceans': 'Hillsong', 'Excess love': 'Mercy'}

In [122]:
song_singer['Excess love'] = 'Osby Berry'
song_singer

{'Jireh': ['Maverick city', 'Elevation worship'],
 'Oceans': 'Hillsong',
 'Excess love': 'Osby Berry'}

In [127]:
for song, writer in song_singer.items():
    print (song, 'is sung by', writer)

Jireh is sung by ['Maverick city', 'Elevation worship']
Oceans is sung by Hillsong
Excess love is sung by Osby Berry

In [133]:
print(song_singer.keys())
print(song_singer.values())

dict_keys(['Jireh', 'Oceans', 'Excess love'])
dict_values([['Maverick city', 'Elevation worship'], 'Hillsong', 'Osby Berry'])